{% extends 'base.html.twig' %}

{% block title %}Rover control room{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Rover controls</h1>
    <hr>
    <p>Upload file with commands for your Rover(s)</p>
    {{ form_start(form) }}
        {{ form_row(form.parameters) }} <br />
        {{ form_row(form.upload) }} <br />
    {{ form_end(form) }}
    <hr>
    {% for rover in rovers %}
        Rover{{ loop.index }} position is: {{ rover.x }} {{ rover.y }} {{ rover.direction.getDirectionString }}
        <br/>
    {% endfor %}
</div>
{% endblock %}
